# Kaggle Titanic Dataset

In [76]:
from __future__ import print_function
import pandas as pd
import numpy as np
import torch
import os

## Data import

In [77]:
data_dir = os.path.join(os.getcwd(), 'data')
train_csv_fp = os.path.join(data_dir, 'train.csv')
raw_data = pd.read_csv(train_csv_fp)

## Data Analysis

In [78]:
raw_data['Cabin'].isna().sum()

687

In [79]:
raw_data.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [80]:
# Remove NaN values
raw_data.drop(columns = ['PassengerId','Name', 'Ticket', 'Cabin'], inplace = True)
raw_data.fillna({'Age' : raw_data['Age'].mean()}, inplace = True)

In [81]:
raw_data.describe() # Missing values in Age (NaN)

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.002015    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [82]:
raw_data.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [83]:
# Simple Binary Encoding
cleanup_arr = {
    'Sex' : {
        "male" : 0,
        "female" : 1
    }
}

raw_data.replace(cleanup_arr, inplace = True)

# One Hot Encoding
raw_data = pd.get_dummies(raw_data, columns = ['Embarked'], prefix=['Embarked'])

######### END OF DATA PREPROCESSING ##########

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,0,3,0,22.000000,1,0,7.2500,0,0,1
1,1,1,1,38.000000,1,0,71.2833,1,0,0
2,1,3,1,26.000000,0,0,7.9250,0,0,1
3,1,1,1,35.000000,1,0,53.1000,0,0,1
4,0,3,0,35.000000,0,0,8.0500,0,0,1
5,0,3,0,29.699118,0,0,8.4583,0,1,0
6,0,1,0,54.000000,0,0,51.8625,0,0,1
7,0,3,0,2.000000,3,1,21.0750,0,0,1
8,1,3,1,27.000000,0,2,11.1333,0,0,1
9,1,2,1,14.000000,1,0,30.0708,1,0,0
10,1,3,1,4.000000,1,1,16.7000,0,0,1
11,1,1,1,58.000000,0,0,26.5500,0,0,1
12,0,3,0,20.000000,0,0,8.0500,0,0,1
13,0,3,0,39.000000,1,5,31.2750,0,0,1
14,0,3,1,14.000000,0,0,7.8542,0,0,1
15,1,2,1,55.000000,0,0,16.0000,0,0,1
16,0,3,0,2.000000,4,1,29.1250,0,1,0
17,1,2,0,29.699118,0,0,13.0000,0,0,1
18,0,3,1,31.000000,1,0,18.0000,0,0,1
19,1,3,1,29.699118,0,0,7.2250,1,0,0
20,0,2,0,35.000000,0,0,26.0000,0,0,1
21,1,2,0,34.000000,0,0,13.0000,0,0,1
22,1,3,1,15.000000,0,0,8.0292,0,1,0
23,1,1,0,28.000000,0,0,35.5000,0,0,1
24,0,3,1,8.000000,3,1,21.0750,0,0,1
25,1,3,1,38.000000,1,5,31.3875,0,0,1
26,0,3,0,29.699118,0,0,7.2250,1,0,0
27,0,1,0,19.000000,3,2,263.0000,0,0,1
28,1,3,1,29.699118,0,0,7.8792,0,1,0
29,0,3,0,29.699118,0,0,7.8958,0,0,1
...,...,...,...,...,...,...,...,...,...,...
861,0,2,0,21.000000,1,0,11.5000,0,0,1
862,1,1,1,48.000000,0,0,25.9292,0,0,1
863,0,3,1,29.699118,8,2,69.5500,0,0,1
864,0,2,0,24.000000,0,0,13.0000,0,0,1
865,1,2,1,42.000000,0,0,13.0000,0,0,1
866,1,2,1,27.000000,1,0,13.8583,1,0,0
867,0,1,0,31.000000,0,0,50.4958,0,0,1
868,0,3,0,29.699118,0,0,9.5000,0,0,1
869,1,3,0,4.000000,1,1,11.1333,0,0,1
870,0,3,0,26.000000,0,0,7.8958,0,0,1
871,1,1,1,47.000000,1,1,52.5542,0,0,1
872,0,1,0,33.000000,0,0,5.0000,0,0,1
873,0,3,0,47.000000,0,0,9.0000,0,0,1
874,1,2,1,28.000000,1,0,24.0000,1,0,0
875,1,3,1,15.000000,0,0,7.2250,1,0,0
876,0,3,0,20.000000,0,0,9.8458,0,0,1
877,0,3,0,19.000000,0,0,7.8958,0,0,1
878,0,3,0,29.699118,0,0,7.8958,0,0,1
879,1,1,1,56.000000,0,1,83.1583,1,0,0
880,1,2,1,25.000000,0,1,26.0000,0,0,1
881,0,3,0,33.000000,0,0,7.8958,0,0,1
882,0,3,1,22.000000,0,0,10.5167,0,0,1
883,0,2,0,28.000000,0,0,10.5000,0,0,1
884,0,3,0,25.000000,0,0,7.0500,0,0,1
885,0,3,1,39.000000,0,5,29.1250,0,1,0
886,0,2,0,27.000000,0,0,13.0000,0,0,1
887,1,1,1,19.000000,0,0,30.0000,0,0,1
888,0,3,1,29.699118,1,2,23.4500,0,0,1
889,1,1,0,26.000000,0,0,30.0000,1,0,0
890,0,3,0,32.000000,0,0,7.7500,0,1,0

# # PyTorch set up

In [88]:
from sklearn.model_selection import train_test_split

def split_stratified_into_train_val_test(df_input, stratify_colname='y',
                                         frac_train=0.6, frac_val=0.15, frac_test=0.25,
                                         random_state=None):
    '''
    Splits a Pandas dataframe into three subsets (train, val, and test)
    following fractional ratios provided by the user, where each subset is
    stratified by the values in a specific column (that is, each subset has
    the same relative frequency of the values in the column). It performs this
    splitting by running train_test_split() twice.

    Parameters
    ----------
    df_input : Pandas dataframe
        Input dataframe to be split.
    stratify_colname : str
        The name of the column that will be used for stratification. Usually
        this column would be for the label.
    frac_train : float
    frac_val   : float
    frac_test  : float
        The ratios with which the dataframe will be split into train, val, and
        test data. The values should be expressed as float fractions and should
        sum to 1.0.
    random_state : int, None, or RandomStateInstance
        Value to be passed to train_test_split().

    Returns
    -------
    df_train, df_val, df_test :
        Dataframes containing the three splits.
    '''

    if frac_train + frac_val + frac_test != 1.0:
        raise ValueError('fractions %f, %f, %f do not add up to 1.0' % \
                         (frac_train, frac_val, frac_test))

    if stratify_colname not in df_input.columns:
        raise ValueError('%s is not a column in the dataframe' % (stratify_colname))

    X = df_input # Contains all columns.
    y = df_input[[stratify_colname]] # Dataframe of just the column on which to stratify.

    # Split original dataframe into train and temp dataframes.
    df_train, df_temp, y_train, y_temp = train_test_split(X,
                                                          y,
                                                          stratify=y,
                                                          test_size=(1.0 - frac_train),
                                                          random_state=random_state)

    # Split the temp dataframe into val and test dataframes.
    relative_frac_test = frac_test / (frac_val + frac_test)
    df_val, df_test, y_val, y_test = train_test_split(df_temp,
                                                      y_temp,
                                                      stratify=y_temp,
                                                      test_size=relative_frac_test,
                                                      random_state=random_state)

    assert len(df_input) == len(df_train) + len(df_val) + len(df_test)

    return df_train, df_val, df_test

In [91]:
# Split Raw data into Train, Test and Validation set
df_train, df_val, df_test = split_stratified_into_train_val_test(raw_data, 
                                                                 stratify_colname='Survived', 
                                                                 frac_train=0.7, frac_val=0.15, 
                                                                 frac_test=0.15)

623 134 134

In [95]:
# Check if CUDA is available
x = torch.randn(1)
if torch.cuda.is_available():
    device = torch.device("cuda")          # a CUDA device object
    y = torch.ones_like(x, device=device)  # directly create a tensor on GPU
    x = x.to(device)                       # or just use strings ``.to("cuda")``
    z = x + y
    print(z)
    print(z.to("cpu", torch.double))       # ``.to`` can also change dtype together!

tensor([1.7963], device='cuda:0')
tensor([1.7963], dtype=torch.float64)

In [101]:
# Split sets into x and y
df_train_x = df_train.iloc[:, 1:]
df_train_y = df_train.iloc[:, :1]
df_val_x = df_val.iloc[:, 1:]
df_val_y = df_val.iloc[:, :1]
df_test_x = df_test.iloc[:, 1:]
df_test_y = df_test.iloc[:, :1]

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
129,3,0,45.000000,0,0,6.9750,0,0,1
875,3,1,15.000000,0,0,7.2250,1,0,0
764,3,0,16.000000,0,0,7.7750,0,0,1
364,3,0,29.699118,1,0,15.5000,0,1,0
104,3,0,37.000000,2,0,7.9250,0,0,1
198,3,1,29.699118,0,0,7.7500,0,1,0
862,1,1,48.000000,0,0,25.9292,0,0,1
709,3,0,29.699118,1,1,15.2458,1,0,0
348,3,0,3.000000,1,1,15.9000,0,0,1
886,2,0,27.000000,0,0,13.0000,0,0,1
396,3,1,31.000000,0,0,7.8542,0,0,1
385,2,0,18.000000,0,0,73.5000,0,0,1
544,1,0,50.000000,1,0,106.4250,1,0,0
144,2,0,18.000000,0,0,11.5000,0,0,1
492,1,0,55.000000,0,0,30.5000,0,0,1
327,2,1,36.000000,0,0,13.0000,0,0,1
55,1,0,29.699118,0,0,35.5000,0,0,1
405,2,0,34.000000,1,0,21.0000,0,0,1
586,2,0,47.000000,0,0,15.0000,0,0,1
380,1,1,42.000000,0,0,227.5250,1,0,0
863,3,1,29.699118,8,2,69.5500,0,0,1
794,3,0,25.000000,0,0,7.8958,0,0,1
834,3,0,18.000000,0,0,8.3000,0,0,1
395,3,0,22.000000,0,0,7.7958,0,0,1
134,2,0,25.000000,0,0,13.0000,0,0,1
105,3,0,28.000000,0,0,7.8958,0,0,1
224,1,0,38.000000,1,0,90.0000,0,0,1
670,2,1,40.000000,1,1,39.0000,0,0,1
184,3,1,4.000000,0,2,22.0250,0,0,1
323,2,1,22.000000,1,1,29.0000,0,0,1
...,...,...,...,...,...,...,...,...,...
661,3,0,40.000000,0,0,7.2250,1,0,0
525,3,0,40.500000,0,0,7.7500,0,1,0
248,1,0,37.000000,1,1,52.5542,0,0,1
681,1,0,27.000000,0,0,76.7292,1,0,0
831,2,0,0.830000,1,1,18.7500,0,0,1
442,3,0,25.000000,1,0,7.7750,0,0,1
378,3,0,20.000000,0,0,4.0125,1,0,0
401,3,0,26.000000,0,0,8.0500,0,0,1
493,1,0,71.000000,0,0,49.5042,1,0,0
671,1,0,31.000000,1,0,52.0000,0,0,1
335,3,0,29.699118,0,0,7.8958,0,0,1
86,3,0,16.000000,1,3,34.3750,0,0,1
132,3,1,47.000000,1,0,14.5000,0,0,1
672,2,0,70.000000,0,0,10.5000,0,0,1
577,1,1,39.000000,1,0,55.9000,0,0,1
852,3,1,9.000000,1,1,15.2458,1,0,0
865,2,1,42.000000,0,0,13.0000,0,0,1
635,2,1,28.000000,0,0,13.0000,0,0,1
1,1,1,38.000000,1,0,71.2833,1,0,0
825,3,0,29.699118,0,0,6.9500,0,1,0
523,1,1,44.000000,0,1,57.9792,1,0,0
624,3,0,21.000000,0,0,16.1000,0,0,1
804,3,0,27.000000,0,0,6.9750,0,0,1
250,3,0,29.699118,0,0,7.2500,0,0,1
622,3,0,20.000000,1,1,15.7417,1,0,0
16,3,0,2.000000,4,1,29.1250,0,1,0
116,3,0,70.500000,0,0,7.7500,0,1,0
313,3,0,28.000000,0,0,7.8958,0,0,1
727,3,1,29.699118,0,0,7.7375,0,1,0
530,2,1,2.000000,1,1,26.0000,0,0,1

In [ ]:
import torch.nn as nn
import torch.nn.functional as F

class Net(nn.Module):

    def __init__(self):
        super(Net, self).__init__()
        # 1 input image channel, 6 output channels, 3x3 square convolution
        # kernel
#         self.conv1 = nn.Conv2d(1, 6, 3)
#         self.conv2 = nn.Conv2d(6, 16, 3)
        # an affine operation: y = Wx + b
        self.fc1 = nn.Linear(9, 64)  # 6*6 from image dimension
        self.fc2 = nn.Linear(64, 128)
        self.fc3 = nn.Linear(128, 2)

    def forward(self, x):
        # Max pooling over a (2, 2) window
        x = F.max_pool2d(F.relu(self.conv1(x)), (2, 2))
        # If the size is a square you can only specify a single number
        x = F.max_pool2d(F.relu(self.conv2(x)), 2)
        x = x.view(-1, self.num_flat_features(x))
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        return x

    def num_flat_features(self, x):
        size = x.size()[1:]  # all dimensions except the batch dimension
        num_features = 1
        for s in size:
            num_features *= s
        return num_features

# NOTES
# torch.nn.Conv2d(in_channels, out_channels, kernel_size, stride=1, 
#                 padding=0, dilation=1, groups=1, bias=True, 
#                 padding_mode='zeros')